In [164]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pandas_datareader as web

In [165]:
def calculate_ema(prices, days, smoothing=2):
    ema = [sum(prices[:days]) / days]
    for price in prices[days:]:
        ema.append((price * (smoothing / (1 + days))) + ema[-1] * (1 - (smoothing / (1 + days))))
    return ema

In [166]:
""" ##İnputs##
smaFastPer= 3
smaMidPer =10
smaSLowPer =15
symbol ='BTC-USD' """

##İnputs##
smaFastPer= 3
smaMidPer =10
smaSLowPer =14
STDsp = 3
symbol ='BTC-USD'

In [167]:

df = web.DataReader(symbol, 'yahoo', '2019-01-01', '2022-01-01')

##statical calculates

#ema = calculate_ema(df['Close'], 10)
df['pandas_SMA_fast'] = df.iloc[:,3].rolling(window=smaFastPer).mean()
df['pandas_SMA_mid'] = df.iloc[:,3].rolling(window=smaMidPer).mean()
df['pandas_SMA_slow'] = df.iloc[:,3].rolling(window=smaSLowPer).mean()

#bollinger
rstd = df.iloc[:,3].rolling(window=smaSLowPer).std()

upper_band = df['pandas_SMA_slow'] + STDsp * rstd

lower_band = df['pandas_SMA_slow'] - STDsp * rstd

df['upper_band'] = upper_band
df['lower_band'] = lower_band

#RSI####

delta = df['Close'].diff()
up = delta.clip(lower=0)
down = -1*delta.clip(upper=0)
ema_up = up.ewm(com=smaSLowPer, adjust=False).mean()
ema_down = down.ewm(com=smaSLowPer, adjust=False).mean()
rs = ema_up/ema_down

df['RSI'] = 100 - (100/(1 + rs))

df

,High,Low,Open,Close,Volume,Adj Close,pandas_SMA_fast,pandas_SMA_mid,pandas_SMA_slow,upper_band,lower_band,RSI
Date,,,,,,,,,,,,
2019-01-01,3850.913818,3707.231201,3746.713379,3843.520020,4324200990,3843.520020,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-02,3947.981201,3817.409424,3849.216309,3943.409424,5244856836,3943.409424,NaN,NaN,NaN,NaN,NaN,100.000000
2019-01-03,3935.685059,3826.222900,3931.048584,3836.741211,4530215219,3836.741211,3874.556885,NaN,NaN,NaN,NaN,92.912976
2019-01-04,3865.934570,3783.853760,3832.040039,3857.717529,4847965467,3857.717529,3879.289388,NaN,NaN,NaN,NaN,93.017243
2019-01-05,3904.903076,3836.900146,3851.973877,3845.194580,5137609824,3845.194580,3846.551107,NaN,NaN,NaN,NaN,92.150040
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-29,48119.742188,46201.496094,47623.871094,46444.710938,30049226299,46444.710938,48224.661458,49196.549609,48527.775670,54049.703396,43005.847943,38.321265
2021-12-30,47879.964844,46060.312500,46490.605469,47178.125000,26686491018,47178.125000,47070.563802,49226.334375,48492.968471,54081.008225,42904.928717,40.942563
2021-12-31,48472.527344,45819.953125,47169.371094,46306.445312,36974172400,46306.445312,46643.093750,48963.317578,48500.418527,54059.406656,42941.430398,38.840542
2022-01-01,47827.312500,46288.484375,46311.746094,47686.812500,24582667004,47686.812500,47057.127604,48869.147656,48560.278181,53985.896772,43134.659589,43.741190
2022-01-02,47881.406250,46856.937500,47680.925781,47345.218750,27951569547,47345.218750,47112.825521,48525.215625,48605.864118,53903.175703,43308.552533,42.831216

In [168]:
df_filled = df.dropna(subset=['pandas_SMA_slow'])
df_filled.isnull().sum()

High               0
Low                0
Open               0
Close              0
Volume             0
Adj Close          0
pandas_SMA_fast    0
pandas_SMA_mid     0
pandas_SMA_slow    0
upper_band         0
lower_band         0
RSI                0
dtype: int64

In [169]:
#lag price##
dflag=df_filled
""" dflag['LAGpandas_SMA_slow'] =dflag['pandas_SMA_slow'].shift(-1)
dflag['LAGpandas_SMA_fast'] =dflag['pandas_SMA_fast'].shift(-1)
dflag['LAGpandas_SMA_mid'] =dflag['pandas_SMA_mid'].shift(-1) """
#tagret fiyatı belirlemek için bir önceki high'ı yanına getirdik
dflag['lag1High'] =dflag['High'].shift(1)
dflag

C:\Users\hakanh\AppData\Local\Temp/ipykernel_2992/1650756673.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dflag['lag1High'] =dflag['High'].shift(1)

,High,Low,Open,Close,Volume,Adj Close,pandas_SMA_fast,pandas_SMA_mid,pandas_SMA_slow,upper_band,lower_band,RSI,lag1High
Date,,,,,,,,,,,,,
2019-01-14,3727.836182,3552.285156,3557.311035,3706.052246,5651384490,3706.052246,3640.102132,3829.981616,3841.514596,4338.948908,3344.080284,66.668110,NaN
2019-01-15,3720.153320,3619.949219,3704.216309,3630.675293,5537192302,3630.675293,3629.893555,3808.529687,3826.311401,4351.642877,3300.979926,63.146063,3727.836182
2019-01-16,3685.777100,3624.673340,3631.509766,3655.006836,5394457145,3655.006836,3663.911458,3766.367114,3805.711217,4337.390741,3274.031692,63.807352,3720.153320
2019-01-17,3680.135986,3621.960938,3651.871094,3678.563965,5464420383,3678.563965,3654.748698,3731.698682,3794.412842,4334.756626,3254.069057,64.468707,3685.777100
2019-01-18,3682.520020,3637.080811,3677.990479,3657.839355,5002961727,3657.839355,3663.803385,3694.397827,3780.135829,4327.981176,3232.290483,63.377081,3680.135986
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-29,48119.742188,46201.496094,47623.871094,46444.710938,30049226299,46444.710938,48224.661458,49196.549609,48527.775670,54049.703396,43005.847943,38.321265,50679.859375
2021-12-30,47879.964844,46060.312500,46490.605469,47178.125000,26686491018,47178.125000,47070.563802,49226.334375,48492.968471,54081.008225,42904.928717,40.942563,48119.742188
2021-12-31,48472.527344,45819.953125,47169.371094,46306.445312,36974172400,46306.445312,46643.093750,48963.317578,48500.418527,54059.406656,42941.430398,38.840542,47879.964844
2022-01-01,47827.312500,46288.484375,46311.746094,47686.812500,24582667004,47686.812500,47057.127604,48869.147656,48560.278181,53985.896772,43134.659589,43.741190,48472.527344
2022-01-02,47881.406250,46856.937500,47680.925781,47345.218750,27951569547,47345.218750,47112.825521,48525.215625,48605.864118,53903.175703,43308.552533,42.831216,47827.312500

In [170]:
"""dflagdropna = dflag.dropna(subset=['LAGpandas_SMA_slow'])"""
dflagdropna = dflag.dropna(subset=['lag1High'])
dflagdropna.isnull().sum()

High               0
Low                0
Open               0
Close              0
Volume             0
Adj Close          0
pandas_SMA_fast    0
pandas_SMA_mid     0
pandas_SMA_slow    0
upper_band         0
lower_band         0
RSI                0
lag1High           0
dtype: int64

In [171]:
dflagdropna

,High,Low,Open,Close,Volume,Adj Close,pandas_SMA_fast,pandas_SMA_mid,pandas_SMA_slow,upper_band,lower_band,RSI,lag1High
Date,,,,,,,,,,,,,
2019-01-15,3720.153320,3619.949219,3704.216309,3630.675293,5537192302,3630.675293,3629.893555,3808.529687,3826.311401,4351.642877,3300.979926,63.146063,3727.836182
2019-01-16,3685.777100,3624.673340,3631.509766,3655.006836,5394457145,3655.006836,3663.911458,3766.367114,3805.711217,4337.390741,3274.031692,63.807352,3720.153320
2019-01-17,3680.135986,3621.960938,3651.871094,3678.563965,5464420383,3678.563965,3654.748698,3731.698682,3794.412842,4334.756626,3254.069057,64.468707,3685.777100
2019-01-18,3682.520020,3637.080811,3677.990479,3657.839355,5002961727,3657.839355,3663.803385,3694.397827,3780.135829,4327.981176,3232.290483,63.377081,3680.135986
2019-01-19,3758.533447,3652.377930,3652.377930,3728.568359,5955691380,3728.568359,3688.323893,3663.725024,3771.805385,4318.040326,3225.570444,65.512398,3682.520020
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-29,48119.742188,46201.496094,47623.871094,46444.710938,30049226299,46444.710938,48224.661458,49196.549609,48527.775670,54049.703396,43005.847943,38.321265,50679.859375
2021-12-30,47879.964844,46060.312500,46490.605469,47178.125000,26686491018,47178.125000,47070.563802,49226.334375,48492.968471,54081.008225,42904.928717,40.942563,48119.742188
2021-12-31,48472.527344,45819.953125,47169.371094,46306.445312,36974172400,46306.445312,46643.093750,48963.317578,48500.418527,54059.406656,42941.430398,38.840542,47879.964844
2022-01-01,47827.312500,46288.484375,46311.746094,47686.812500,24582667004,47686.812500,47057.127604,48869.147656,48560.278181,53985.896772,43134.659589,43.741190,48472.527344
2022-01-02,47881.406250,46856.937500,47680.925781,47345.218750,27951569547,47345.218750,47112.825521,48525.215625,48605.864118,53903.175703,43308.552533,42.831216,47827.312500

In [172]:
dflagdropna['high_close'] = dflagdropna['lag1High']- dflagdropna['Close']
#dflagdropna['highround'] = round(dflagdropna['High'], 2)
dflagdropna= round(dflagdropna, 2)
dflagdropna

C:\Users\hakanh\AppData\Local\Temp/ipykernel_2992/551925896.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dflagdropna['high_close'] = dflagdropna['lag1High']- dflagdropna['Close']

,High,Low,Open,Close,Volume,Adj Close,pandas_SMA_fast,pandas_SMA_mid,pandas_SMA_slow,upper_band,lower_band,RSI,lag1High,high_close
Date,,,,,,,,,,,,,,
2019-01-15,3720.15,3619.95,3704.22,3630.68,5537192302,3630.68,3629.89,3808.53,3826.31,4351.64,3300.98,63.15,3727.84,97.16
2019-01-16,3685.78,3624.67,3631.51,3655.01,5394457145,3655.01,3663.91,3766.37,3805.71,4337.39,3274.03,63.81,3720.15,65.15
2019-01-17,3680.14,3621.96,3651.87,3678.56,5464420383,3678.56,3654.75,3731.70,3794.41,4334.76,3254.07,64.47,3685.78,7.21
2019-01-18,3682.52,3637.08,3677.99,3657.84,5002961727,3657.84,3663.80,3694.40,3780.14,4327.98,3232.29,63.38,3680.14,22.30
2019-01-19,3758.53,3652.38,3652.38,3728.57,5955691380,3728.57,3688.32,3663.73,3771.81,4318.04,3225.57,65.51,3682.52,-46.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-29,48119.74,46201.50,47623.87,46444.71,30049226299,46444.71,48224.66,49196.55,48527.78,54049.70,43005.85,38.32,50679.86,4235.15
2021-12-30,47879.96,46060.31,46490.61,47178.12,26686491018,47178.12,47070.56,49226.33,48492.97,54081.01,42904.93,40.94,48119.74,941.62
2021-12-31,48472.53,45819.95,47169.37,46306.45,36974172400,46306.45,46643.09,48963.32,48500.42,54059.41,42941.43,38.84,47879.96,1573.52
2022-01-01,47827.31,46288.48,46311.75,47686.81,24582667004,47686.81,47057.13,48869.15,48560.28,53985.90,43134.66,43.74,48472.53,785.71
2022-01-02,47881.41,46856.94,47680.93,47345.22,27951569547,47345.22,47112.83,48525.22,48605.86,53903.18,43308.55,42.83,47827.31,482.09

In [173]:
#değişşim hesaplama
dflagdropna['Degisim'] = (dflagdropna['high_close']/dflagdropna['Close'])*100
dflagdropna

,High,Low,Open,Close,Volume,Adj Close,pandas_SMA_fast,pandas_SMA_mid,pandas_SMA_slow,upper_band,lower_band,RSI,lag1High,high_close,Degisim
Date,,,,,,,,,,,,,,,
2019-01-15,3720.15,3619.95,3704.22,3630.68,5537192302,3630.68,3629.89,3808.53,3826.31,4351.64,3300.98,63.15,3727.84,97.16,2.676083
2019-01-16,3685.78,3624.67,3631.51,3655.01,5394457145,3655.01,3663.91,3766.37,3805.71,4337.39,3274.03,63.81,3720.15,65.15,1.782485
2019-01-17,3680.14,3621.96,3651.87,3678.56,5464420383,3678.56,3654.75,3731.70,3794.41,4334.76,3254.07,64.47,3685.78,7.21,0.196001
2019-01-18,3682.52,3637.08,3677.99,3657.84,5002961727,3657.84,3663.80,3694.40,3780.14,4327.98,3232.29,63.38,3680.14,22.30,0.609649
2019-01-19,3758.53,3652.38,3652.38,3728.57,5955691380,3728.57,3688.32,3663.73,3771.81,4318.04,3225.57,65.51,3682.52,-46.05,-1.235058
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-29,48119.74,46201.50,47623.87,46444.71,30049226299,46444.71,48224.66,49196.55,48527.78,54049.70,43005.85,38.32,50679.86,4235.15,9.118692
2021-12-30,47879.96,46060.31,46490.61,47178.12,26686491018,47178.12,47070.56,49226.33,48492.97,54081.01,42904.93,40.94,48119.74,941.62,1.995883
2021-12-31,48472.53,45819.95,47169.37,46306.45,36974172400,46306.45,46643.09,48963.32,48500.42,54059.41,42941.43,38.84,47879.96,1573.52,3.398058
2022-01-01,47827.31,46288.48,46311.75,47686.81,24582667004,47686.81,47057.13,48869.15,48560.28,53985.90,43134.66,43.74,48472.53,785.71,1.647646
2022-01-02,47881.41,46856.94,47680.93,47345.22,27951569547,47345.22,47112.83,48525.22,48605.86,53903.18,43308.55,42.83,47827.31,482.09,1.018244

In [174]:
#conditions or strategy
dflagdropna.loc[dflagdropna['Degisim'] <= 1.50, 'TagretProfit'] = '0' 
dflagdropna.loc[dflagdropna['Degisim'] > 1.50, 'TagretProfit'] = '1' 
"""is it green bar?"""
dflagdropna.loc[dflagdropna['Close'] > dflagdropna['Open'] , 'GreenBar'] = '1' 
dflagdropna.loc[dflagdropna['Close'] <= dflagdropna['Open'] , 'GreenBar'] = '0' 

"""is Close Price over the SMA? """
#fast
dflagdropna.loc[dflagdropna['Close'] > dflagdropna['pandas_SMA_fast'] , 'overFastSMA'] = '1' 
dflagdropna.loc[dflagdropna['Close'] <= dflagdropna['pandas_SMA_fast'] , 'overFastSMA'] = '0' 
#mid
dflagdropna.loc[dflagdropna['Close'] > dflagdropna['pandas_SMA_mid'] , 'overMidSMA'] = '1' 
dflagdropna.loc[dflagdropna['Close'] <= dflagdropna['pandas_SMA_mid'] , 'overMidSMA'] = '0' 
#slow
dflagdropna.loc[dflagdropna['Close'] > dflagdropna['pandas_SMA_slow'] , 'overSlowSMA'] = '1' 
dflagdropna.loc[dflagdropna['Close'] <= dflagdropna['pandas_SMA_slow'] , 'overSlowSMA'] = '0' 

#bollinger
#upper
dflagdropna.loc[dflagdropna['Close'] > dflagdropna['upper_band'] , 'bolUpper'] = '1' 
dflagdropna.loc[dflagdropna['Close'] <= dflagdropna['upper_band'] , 'bolUpper'] = '0' 
#lower
dflagdropna.loc[dflagdropna['Close'] > dflagdropna['lower_band'] , 'bolLower'] = '1' 
dflagdropna.loc[dflagdropna['Close'] <= dflagdropna['lower_band'] , 'bolLower'] = '0' 

#RSI
#70updown
dflagdropna.loc[dflagdropna['RSI'] > 70 , 'RSI70'] = '1' 
dflagdropna.loc[dflagdropna['RSI'] <= 70 , 'RSI70'] = '0' 
#30updown
dflagdropna.loc[dflagdropna['RSI'] > 30 , 'RSI30'] = '0' 
dflagdropna.loc[dflagdropna['RSI'] <= 30 , 'RSI30'] = '1' 


dflagdropna

,High,Low,Open,Close,Volume,Adj Close,pandas_SMA_fast,pandas_SMA_mid,pandas_SMA_slow,upper_band,...,Degisim,TagretProfit,GreenBar,overFastSMA,overMidSMA,overSlowSMA,bolUpper,bolLower,RSI70,RSI30
Date,,,,,,,,,,,,,,,,,,,,,
2019-01-15,3720.15,3619.95,3704.22,3630.68,5537192302,3630.68,3629.89,3808.53,3826.31,4351.64,...,2.676083,1,0,1,0,0,0,1,0,0
2019-01-16,3685.78,3624.67,3631.51,3655.01,5394457145,3655.01,3663.91,3766.37,3805.71,4337.39,...,1.782485,1,1,0,0,0,0,1,0,0
2019-01-17,3680.14,3621.96,3651.87,3678.56,5464420383,3678.56,3654.75,3731.70,3794.41,4334.76,...,0.196001,0,1,1,0,0,0,1,0,0
2019-01-18,3682.52,3637.08,3677.99,3657.84,5002961727,3657.84,3663.80,3694.40,3780.14,4327.98,...,0.609649,0,0,0,0,0,0,1,0,0
2019-01-19,3758.53,3652.38,3652.38,3728.57,5955691380,3728.57,3688.32,3663.73,3771.81,4318.04,...,-1.235058,0,1,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-12-29,48119.74,46201.50,47623.87,46444.71,30049226299,46444.71,48224.66,49196.55,48527.78,54049.70,...,9.118692,1,0,0,0,0,0,1,0,0
2021-12-30,47879.96,46060.31,46490.61,47178.12,26686491018,47178.12,47070.56,49226.33,48492.97,54081.01,...,1.995883,1,1,1,0,0,0,1,0,0
2021-12-31,48472.53,45819.95,47169.37,46306.45,36974172400,46306.45,46643.09,48963.32,48500.42,54059.41,...,3.398058,1,0,0,0,0,0,1,0,0
2022-01-01,47827.31,46288.48,46311.75,47686.81,24582667004,47686.81,47057.13,48869.15,48560.28,53985.90,...,1.647646,1,1,1,0,0,0,1,0,0
2022-01-02,47881.41,46856.94,47680.93,47345.22,27951569547,47345.22,47112.83,48525.22,48605.86,53903.18,...,1.018244,0,0,1,0,0,0,1,0,0

In [175]:
## Creating Dataframe For Traning Model##
TrainDataFrame = dflagdropna[['GreenBar','overMidSMA','overFastSMA','overMidSMA','overSlowSMA','bolUpper','bolLower','RSI70','RSI30','TagretProfit']]
TrainDataFrame

,GreenBar,overMidSMA,overFastSMA,overMidSMA,overSlowSMA,bolUpper,bolLower,RSI70,RSI30,TagretProfit
Date,,,,,,,,,,
2019-01-15,0,0,1,0,0,0,1,0,0,1
2019-01-16,1,0,0,0,0,0,1,0,0,1
2019-01-17,1,0,1,0,0,0,1,0,0,0
2019-01-18,0,0,0,0,0,0,1,0,0,0
2019-01-19,1,1,1,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
2021-12-29,0,0,0,0,0,0,1,0,0,1
2021-12-30,1,0,1,0,0,0,1,0,0,1
2021-12-31,0,0,0,0,0,0,1,0,0,1
2022-01-01,1,0,1,0,0,0,1,0,0,1
2022-01-02,0,0,1,0,0,0,1,0,0,0

In [176]:
#libraries
from numpy import loadtxt
from xgboost import XGBClassifier,XGBRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn import model_selection, tree, preprocessing, metrics, linear_model

In [177]:
#train test split
X =  TrainDataFrame.drop(['TagretProfit'], axis = 1)
y = TrainDataFrame['TagretProfit']
seed = 7
test_size = 0.33

X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=test_size, random_state=seed)
X_train

,GreenBar,overMidSMA,overFastSMA,overMidSMA,overSlowSMA,bolUpper,bolLower,RSI70,RSI30
Date,,,,,,,,,
2020-03-04,0,0,0,0,0,0,1,0,0
2019-03-07,1,1,1,1,1,0,1,0,0
2020-04-18,1,1,1,1,1,0,1,0,0
2021-08-18,1,0,0,0,0,0,1,0,0
2021-06-27,1,1,1,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...
2021-07-22,1,1,1,1,1,0,1,0,0
2019-08-14,0,0,0,0,0,0,1,0,0
2020-05-31,0,1,0,1,1,0,1,0,0
2020-07-05,0,0,0,0,0,0,1,0,0
2019-07-09,1,1,1,1,1,0,1,0,0

In [178]:
X_train.dtypes

GreenBar       object
overMidSMA     object
overFastSMA    object
overMidSMA     object
overSlowSMA    object
bolUpper       object
bolLower       object
RSI70          object
RSI30          object
dtype: object

In [179]:
def fit_ml_algo(algo, X_train, y_train, cv):
    
    # One Pass
    model = algo.fit(X_train, y_train)
    acc = round(model.score(X_train, y_train) * 100, 2)
    
    # Cross Validation 
    train_pred = model_selection.cross_val_predict(algo, 
                                                  X_train, 
                                                  y_train, 
                                                  cv=cv, 
                                                  n_jobs = -1)
    # Cross-validation accuracy metric
    acc_cv = round(metrics.accuracy_score(y_train, train_pred) * 100, 2)
    
    return train_pred, acc, acc_cv

In [180]:
# Decision Tree Classifier

train_pred_dt, acc_dt, acc_cv_dt = fit_ml_algo(DecisionTreeClassifier(), 
                                                                X_train, 
                                                                y_train,
                                                                10)

print("Accuracy: %s" % acc_dt)
print("Accuracy CV 10-Fold: %s" % acc_cv_dt)

Accuracy: 85.4
Accuracy CV 10-Fold: 84.02

In [181]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

In [182]:
accuracy_score(y_test, y_pred)

0.8435754189944135

In [183]:
#SaveModel

import joblib
# save the model to disk
filename = 'finalized_model.sav'
joblib.dump(clf, filename)

['finalized_model.sav']